#### This is an anonymized survey of stakeholder satisfaction. Stakeholder list are only dummy names and do not reflect actual stakeholder opinion.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [2]:
df = pd.read_csv('data/stake.csv')
df.head()

,stakeholder,A1,A2,A3,A4,A5,A6,A7,A8,A9,A10,A11,A12,B1,B2,B3,B4,B5,B6,B7
0,Madrid,5.0,5.0,5,5.0,4.0,4.0,5.0,5.0,4.0,5.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0
1,San Agustin,5.0,5.0,5,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0,5.0
2,Tago,5.0,4.0,4,4.0,5.0,5.0,4.0,4.0,4.0,5.0,5.0,4.0,5.0,5.0,4.0,4.0,4.0,4.0,4.0
3,Bislig,4.0,4.0,n,3.0,2.0,4.0,4.0,3.0,5.0,3.0,2.0,5.0,4.0,4.0,5.0,4.0,4.0,4.0,4.0
4,Tandag,5.0,4.0,5,4.0,5.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0,3.0,3.0,3.0,2.0